.container{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr 1fr;
  height: 900px;
  grid-template-areas:
  "nav"
  "body"
  "body"
  "foot"
}

.box{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
}

#navbar{
  grid-area: nav;
  background-color: #FF851B;
}

#body{
  grid-area: body;
  background-color: #FFDC00;
}

#footer{
  grid-area: foot;
  background-color: #FF851B;
}

.photo{
  background-image: url("image.jpeg");
  height: 500px;
  width: 1000px;
  background-size: cover;
}

h3, h2{
  font-family: 'Nunito', sans-serif;
}

@media (min-width:900px) {
  .container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr;
    height: 900px;
    grid-template-areas:
    "nav"
    "body"
    "body"
    "foot"
  }

}
